.img-fluid {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	height: auto;
	max-width: 100%;
}
.col {
	box-sizing: border-box;
	padding: 1rem;
}
.row {
	align-items: center;
	display: flex;
	padding-bottom: 25px;
}
.row-reverse {
	flex-direction: row-reverse;
}
@media (max-width: 600px) {
	.row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}
@media (min-width: 768px) {
	.col {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
